# Nix build results
/result

# Workspace settings
/.exrc
/.nvimrc
/.nvim.lua
/.vscode
/.zed

# Dotter local files
/.dotter/cache
/.dotter/cache.toml
/.dotter/local.toml

# Direnv
.direnv
/.envrc
/direnv
/direnv.test

/sl-maker-for-dotfiles.log
