*
**/*

!deploy.sh
!README.md

!shellscripts/
!shellscripts/**
!install_list/
!install_list/**
!sl-maker-for-dotfiles/

!files/
!files/.config/
!files/.config/lsd/
!files/.config/lsd/colors.yaml
!files/.config/lsd/config.yaml
!files/.config/lsd/icons.yaml
!files/.config/mise/
!files/.config/mise/config.toml
!files/.config/sheldon/
!files/.config/sheldon/plugins.toml
!files/.config/starship.toml
!files/.config/zsh/
!files/.config/zsh/alias.zsh
!files/.config/zsh/completion.zsh
!files/.config/zsh/eval_sources.zsh
!files/.config/zsh/option.zsh
!files/.config/zsh/style.zsh
!files/.zshrc
!files/.tmux.conf
